<footer class="footer">
  <ul class="social-list">
    <li>
      <a href="#">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</footer>
