<header class="header">
  <nav>
    <input type="checkbox" id="mobile-menu" class="mobile-menu-check">
    <label for="mobile-menu" class="show-mobile-menu">MENU</label>
    <ul class="header-nav nav-links">
      <li class="list-item"><a href="index.html">Home</a></li>
      <li class="list-item"><a href="about.html">About</a></li>
      <li class="list-item"><a href="products.html">Products</a></li>
      <li class="list-item"><a href="blog.html">Blog</a></li>
    </ul>
  </nav>
  <div class="logo">
    <img class="header-logo" src="/assets/image/beanie.svg" alt="">
  </div>
</header>
