<!DOCTYPE html>
<html lang="ja" dir="ltr">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Serif+JP:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/main.css">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | My_Life</title>
  </head>
  <body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
  </body>
</html>
